.view{
    display: flex;
    width: 100%;
    .viewContainer{
        flex:6;
    }
}
.products{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    
}

.coming{
    text-align: center;
    margin-top: 15%;
    font-size: 100px;
    color: #ff0000;
}